/* #what .items .item {
  display: flex;
  text-align: left;
  justify-content: ;
}

#what .items .item img {
  align-self: auto;
  margin-bottom: 0;
  margin-right: 1.3rem;
}

#who h3,
#who h2 #who p {
  padding: 5px;
  text-align: left;
  font-size: 25px;
  color: white;
} */
